.publications {
  ol.bibliography li {
    // More emphasis.
    .author > em {
      border-bottom: 1px solid;
      font-style: normal;
      font-weight: bolder;
      //color: var(--global-theme-color);
      color: #{$blue-color};
    }

    .periodical, .periodical > em {
      color: #{$blue-color-dark};
    }
  }
}